body{
    background-image: url("../images/Sign-in-background.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.sign-form{
    width: 550px;
    align-self: center;
    background-color: #F3F1F1CC;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-bottom: 167px;
}

p:not(footer p){
    padding: 0;
    margin: 0;
}

.sign-or-log{
    position: relative;
    background-color: #CFCCCB;
    margin-top: 34px;
    padding: 12px 62px 13px 29px;
    display: flex;
    align-self: center;
    gap: 85px;
    border-radius: 27px;
    box-shadow: inset 1px 1px 5px 1px #A38D8D40,
    inset -1px -1px 4px 0 #FFFFFF40;
    margin-bottom: 77px;
    color: #433030;
    font-size: 18px;
    user-select: none;
    font-weight: normal;
}

.switch-container{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 27px;
    background-color: rgba(176, 4, 26, 1);
    z-index: 1;
    width: 169px;
    height: 45px;
    box-shadow: inset 1px 1px 5px 1px #73061440,
    inset -1px -1px 4px 0 #FBADAD80;
    transition: transform 1s ease;
}

.sign, .log{
    z-index: 2;
    cursor: pointer;
    transition: color 1s ease;
}

.select-in{
    color: #ffffff;
    cursor: default;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 10px;
    align-self: center;
    font-weight: normal;
    color: #584E4E;
    margin-bottom: 17px;
}

.contacts{
    display: flex;
    align-self: center;
    gap: 56px;
    color: #584E4E;
    font-size: 15px;
    margin-bottom: 23px;
    user-select: none;
}



.contacts p{
    background-color: #DAD1CE;
    border-radius: 7px;
    box-shadow: inset -1px -1px 4px 0 #BEB9B980,
    inset 1px 1px 4px 0 #FFFFFF40,
    1px 1px 2px 0 #685D5D40,
    -1px -1px 4px 0 #FFFFFF40;
    cursor: pointer;
}

.email{
    padding: 8px 38px 7px 37px;
}

.phone{
    padding: 8px 28px 7px 27px;
}

.contacts .selected-contact{
    background-color: #D3CAC6;
    box-shadow: inset 0 0 5px 0 #7D747480,
    inset -1px -1px 4px 0 #FFF6F6CC;
    cursor: default;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-self: center;
    margin-bottom: 264px;
}

input{
    width: 296px;
    height: 36px;
    outline: none;
    border: 1px solid #DAC9C9;
    border-radius: 7px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 10px center;
    box-sizing: border-box;
    padding-left: 30px;
}

input::placeholder{
    padding: 0;
    font-family: "Sansation", "Arial", sans-serif;
    font-size: 13px;
    color: #AD9B9B;
    }

input:hover:not(input[type="submit"]){
    background-color: #F2E9E5;
}

input:focus:not(input[type="submit"]){
    background-color: #EBE3DF;
    border: 1px solid #C5ADAD;
}

input[type = "submit"]{
    font-family: "Sansation", "Arial", sans-serif;
    color: #FFFFFF;
    width: 200px;
    padding-left: 0;
    height: 31px;
    border-radius: 13px;
    background-color: #BE0018;
    border:  1px solid #A50217;
    align-self: center;
    margin-top: 54px;
    cursor: pointer;
    transition: all 1s ease;
}

input[type = "submit"]:hover{
    background-color: white;
    color: #BE0018;
    border-color: white;
}

input[type = "submit"]:active{
    opacity: 0.6;
}

input:first-of-type{
    margin-bottom: 35px;
    background-image: url("../images/letter.svg");
}

input:nth-of-type(2){
    margin-bottom: 11px;
}

input[type="password"]{
    background-image: url("../images/lock.svg");
}

footer{
    background-color: #282828;
}

.footer-content{
    height: 100px;
    display: grid;
    grid-template-columns: 235px 500px;
    column-gap: 90px;
  }
  
 .footer-content p{
    color: white;
  }
  
  .name-team{
    margin-left: 99px;
    font-size: 16px;
    align-self: center;
  }
  
  .name-team img{
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 4px;
  }
  
 .footer-content div{
    align-self: center;
  }
  
 .footer-content div p,
 .footer-content div a{
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
  }
  
 .footer-content div a{
    display: inline;
  }
  
 .footer-content div a:hover{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2px;
  }
  
 .footer-content div a:active{
    opacity: 0.5;
  }